body{
background: #0b0b0b;
color: #e6e6e6;
font-family: 'Cinzel', serif;
margin:0;
}

header{
text-align:center;
padding:40px;
background: linear-gradient(black, darkred);
}

h1{
color:#ff1a1a;
font-size:45px;
}

nav{
text-align:center;
background:#111;
padding:15px;
}

nav a{
color:#ccc;
margin:15px;
text-decoration:none;
font-size:18px;
}

nav a:hover{
color:red;
}

.seccion{
padding:50px;
text-align:center;
}

.tarjeta{
background:#1a1a1a;
border:1px solid darkred;
padding:20px;
margin:20px;
display:inline-block;
width:250px;
border-radius:10px;
transition:0.3s;
}

.tarjeta:hover{
transform:scale(1.05);
box-shadow:0 0 15px red;
}

button{
background:darkred;
color:white;
border:none;
padding:12px 20px;
font-size:16px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:red;
}

footer{
text-align:center;
padding:20px;
background:#111;
}

/*PROYECTOS*/

.tarjeta{
background:#1a1a1a;
border:1px solid darkred;
border-radius:10px;
width:320px;
margin:20px;
padding:15px;
text-align:center;
display:inline-block;
}

.vista-proyecto{
width:100%;
height:200px;
border:none;
margin-bottom:10px;
border-radius:5px;
}

.tarjeta a{
display:inline-block;
margin:5px;
padding:8px 14px;
background:darkred;
color:white;
text-decoration:none;
border-radius:5px;
}

.tarjeta a:hover{
background:red;
}


/*contenedor */
.sobre-contenedor{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.cuadro{
background:#1a1a1a;
border:1px solid darkred;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px black;
}

.cuadro h3{
color:red;
}

.sobre-contenedor{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.cuadro{
background:#1a1a1a;
border:1px solid darkred;
border-radius:10px;
padding:20px;
width:260px;
}

.cuadro h3{
color:red;
text-align:center;
margin-bottom:15px;
}

.lista-iconos{
list-style:none;
padding:0;
}

.lista-iconos li{
margin:10px 0;
font-size:16px;
}

.lista-iconos i{
color:red;
margin-right:10px;
}



/*habilidades*/

#habilidades{
padding:60px;
text-align:center;
}

.skill{
width:60%;
margin:20px auto;
}

.skill-info{
display:flex;
align-items:center;
gap:10px;
margin-bottom:5px;
font-size:18px;
}

.skill-info i{
color:red;
font-size:22px;
}

.barra{
background:#222;
height:18px;
border-radius:10px;
overflow:hidden;
border:1px solid darkred;
}

.progreso{
height:100%;
width:0;
background:linear-gradient(90deg,darkred,red);
transition:width 2s;
}

/* niveles */

.html{
width:99%;
}

.css{
width:85%;
}

.js{
width:70%;
}

.sql{
width:50%;
}

/*bienvenidos*/

.seccion{
text-align:center;
padding:80px 20px;
color:white;
animation:aparecer 2s ease;
}

.titulo{
font-size:40px;
color:red;
margin-bottom:15px;
animation:flotar 3s infinite alternate;
}

.descripcion{
font-size:18px;
max-width:600px;
margin:auto;
margin-bottom:30px;
}

.botones button{
background:darkred;
color:white;
border:none;
padding:12px 20px;
margin:10px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.botones button:hover{
background:red;
transform:scale(1.1);
}

.iconos{
margin-top:30px;
font-size:35px;
}

.iconos i{
margin:10px;
color:red;
transition:0.4s;
}

.iconos i:hover{
transform:scale(1.3);
color:white;
}

/* animaciones */

@keyframes aparecer{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes flotar{
from{
transform:translateY(0);
}
to{
transform:translateY(-10px);
}
}

/*titulo*/
.header-gotico{
position:relative;
text-align:center;
padding:80px 20px;
color:white;
overflow:hidden;

background:linear-gradient(270deg,#000000,#1a0000,#330000,#000000);
background-size:600% 600%;
animation:fondoOscuro 12s ease infinite;
}

#particulas{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:0;
}

.header-gotico h1,
.header-gotico p{
position:relative;
z-index:1;
}

.particula{
position:absolute;
width:4px;
height:4px;
background:#ffffff20;
border-radius:50%;
animation:particulasSubir 10s linear infinite;
}

/* animaciones */

@keyframes fondoOscuro{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

@keyframes particulasSubir{
0%{
transform:translateY(0);
opacity:0;
}

50%{
opacity:1;
}

100%{
transform:translateY(-300px);
opacity:0;
}
}

.descripcion{
font-family: 'Cormorant', serif;
font-size:20px;
line-height:1.6;
max-width:650px;
margin:auto;
color:#e6e6e6;
letter-spacing:1px;
}

.cuadro{
background:#1a1a1a;
border:1px solid darkred;
border-radius:12px;
padding:20px;
width:260px;
margin:15px;
box-shadow:0 0 15px #000;
}

/* texto elegante */

.cuadro p{
font-family:'Cormorant Garamond', serif;
font-size:18px;
line-height:1.6;
color:#e6e6e6;
}

#sobre h2{
text-align:center;
}